@charset "utf-8";

*{margin: 0; padding: 0;}

ul,li{list-style: none;}

a{text-decoration: none; color:#333;}

img{border:0; display: block;}

body{font-family: 'Noto Sans KR', sans-serif;}

em,address{font-style: normal;}
